* {
    box-sizing: border-box;
}

/* :root{
    --primary-color:
} */
html {
    font-family: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a {
    text-decoration: none;
}
.content {
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 24px);
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: #0f1b4c;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* header */

.header {
    position: relative;

    background-color: #e6f0ff;
}

.header .content {
    width: 1440px;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 47px;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 14px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}
.navbar .action-link {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 14px;
    border-radius: 8px;
}
.navbar .action-btn:hover {
    opacity: 0.8;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}
.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}
.hero-cta {
    min-width: 170px;
    margin-top: 55px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* client */
.client {
    margin-top: 122px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client-desc {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.images {
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ===guides=== */
.guides .sub-title {
    position: relative;
    margin-top: 200px;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    left: 50%;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 730px;
    margin: 20px auto 0;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
/* ==list guides */
.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-items {
    text-align: center;
    margin: 0 110px;
}

.guides .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guides .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
}

.guides-cta {
    display: flex;
    justify-content: center;
    margin: 50px 0 79px;
}

.guides-cta .btn {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

.guides-cta :hover {
    transform: scale(1.1) translateX(3px);
}

/* featured */
.featured .content {
    background: #f5fafe;
    padding: 110px 0;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured .link {
    display: flex;
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .item {
    flex: 1;
}
.featured .item .thumb {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.featured .item .body {
    padding: 17px 20px 24px;
    border-radius: 0 0 12px;
    background: #fff;
    box-shadow: 0 65px 80px -46px rgba(226, 238, 249, 0.6);
}
.featured .item .title a {
    --line-clamp: 1;
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured .item .body :hover a {
    opacity: 0.7;
    color: #0689ff;
}

.featured .desc {
    --line-clamp: 2;
    margin-top: 14px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.featured .item span {
    color: #4d4d52;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.014rem;
    margin-left: 8px;
}

.featured .item .icon {
    margin-left: 23px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}
/* stats*/
.stats {
    margin-top: 125px;
}
.stats .row {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1017px;
    height: 685px;
    padding: 50px auto;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .image {
    width: 400px;
    height: 460px;
    flex-shrink: 0;
    border-radius: 12px;
    object-fit: cover;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .stats-header {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    margin-top: 45px;
}
.stats .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    width: 500px;
}

.stats .desc {
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    width: 500px;
}

.stats .stats-trend {
    position: absolute;
    width: 309px;
    height: 352px;
    border-radius: 0 0 12px 12px;
    /* background: #fff; */
    background-color: #fff;
    left: -154px;
    padding: 0 22px 0 22px;
}

.stats .stats-header {
    display: flex;
    justify-content: space-between;
}

.stats .number {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.026rem;
}
.stats .stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    width: 300px;
    margin: 8px 22px 0 0;
}

.separate {
    margin-top: 23px;
    width: 270px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .stats-row {
    display: flex;
    justify-content: space-between;
}
.stats .stats-number {
    margin-left: 220px;
}
.stats .stats-number:first-child {
    margin-left: 0;
}
.stats .title {
    /* margin-left: 220px; */
    margin-top: 110px;
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.stats .desc-stats {
    /* margin-left: 220px; */
    margin-top: 22px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
.stats .avatar-block {
    display: flex;
    margin-top: 26px;
    gap: 13px;
    flex-wrap: wrap;
}
.stats .avatar-group {
    display: flex;
}
.stats .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}
/* subscription */
.subcription {
    margin-top: 90px;
}
.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 409px;
    border-radius: 20px;
    background-color: #063183;
}
.subcription .info {
    padding: 0 80px;
}
.subcription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}
.subcription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.subcription .btn {
    margin-top: 20px;
    background: #fff;
    color: #002366;
    min-width: 151px;
}
.subcription .image {
    position: absolute;
    right: 231px;
    bottom: 0;
}
/* footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
    justify-content: space-between;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .item {
    margin-top: 18px;
}
footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}
.footer .desc {
    white-space: normal;
    line-height: 1.75;
}
.footer .social {
    display: flex;
    margin-top: 40px;
}
.footer .social-link {
    width: 28px;
    height: 28px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer .social-link:hover {
    border-radius: 5px;
    background-color: #ebebeb;
}
.footer .row-bottom {
    margin-top: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
